<h1>Editing Company Value</h1>

<%= form_with(model: [:admins, @company_value]) do |form| %>
  <%= render 'admins/shared/errors', object: @company_value %>

  <div class="field">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', class: "btn btn-outline-dark" %>
  </div>
<% end %>
