
<h1>Listing of orders to deliver</h1>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Purchase Time</th>
      <th>Price paid</th>
      <th>Delivery Method</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.reward.title %></td>
        <td><%= order.reward.description %></td>
        <td><%= order.created_at %></td>
        <td><%= order.price %></td>
        <td><%= order.full_address %></td>
        <% if order.status == 'not_delivered' %>
          <td><%= link_to 'Deliver',admins_employees_order_path(order), method: :patch, data: {confirm: 'Are you sure you want to deliver this reward ?'}, 
            class: 'btn btn-success' %></td>
        <% else %>
          <td><%= link_to 'Delivered', '#', class: "btn btn-secondary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to list", admins_employees_path, class: "btn btn-outline-secondary" %>
