<h1>Kudos</h1>
<% @kudos.each do |kudo| %>
  <div class="card text-center mt-2 mb-2">
    <div class="card-header">
      Title: <%= kudo.title %>
    </div>
    <div class="card-body">
      <h6 class="card-title">
        Content: <%= kudo.content %>
      </h6>
        Receiver: <p class="card-text"><%= kudo.receiver.email %></p>
        Giver: <p class="card-text"><%= kudo.giver.email %></p>
        <b>Company Value:</b> <p class="card-text"><%= kudo.company_value.title %></p>
    </div>
    <div class="card-footer">
      <%= link_to 'Show', kudo, class: "btn btn-outline-dark btn-sm" %>
      <% if current_employee == kudo.giver %>
        <%= link_to 'Edit', edit_kudo_path(kudo), class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to 'Destroy', kudo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
