<h1>Listing of <i><%= current_employee.email %></i> Rewards</h1>

<div class="form-group mb-2">
  <%= link_to 'Delivered', employees_orders_path(status: 'delivered'), method: :get, class: "btn btn-primary" %>
  <%= link_to 'Not Delivered', employees_orders_path(status: 'not_delivered'), method: :get, class: "btn btn-warning" %>
  <%= link_to 'All', employees_orders_path, class: "btn btn-success"%>
 </div>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Purchase Time</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do |order| %>
      <% if order.employee == current_employee %>
        <tr>
          <td><%= order.reward.title %></td>
          <td><%= order.reward.description %></td>
          <td><%= order.created_at %></td>
          <td><%= order.price %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
