<h1>Listing of Online Codes</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Used?</th>
      <th>Associated Reward</th>
    </tr>
  </thead>

  <tbody>
    <% online_codes.each do |online_code| %>
      <tr>
        <td><%= online_code.id %></td>
        <td><%= online_code.code %></td>
        <td><%= online_code.used %></td>
        <td><%= online_code.reward.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to dashboard", admins_dashboard_path, class: "btn btn-outline-secondary" %>
