<h1>Rewards</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Delivery Method</th>
      <th>Image</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= reward.category.title %></td>
        <td><%= reward.price %></td>
        <td><%= reward.delivery_method %></td>
        <td><%= image_tag reward.image.variant(resize_to_limit: [100, 100]) if reward.image.attached? %></td>
        <td><%= reward.available_rewards_index %>
        <td><%= link_to "Edit", edit_admins_reward_path(reward), class: "btn btn-outline-warning" %></td>
        <td><%= link_to "Delete", admins_reward_path(reward), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Reward', new_admins_reward_path, class: "btn btn-warning" %>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
