<h1>New Reward</h1>

<%= form_with(model: [:admins, @reward]) do |form| %>
  <%= render 'admins/shared/errors', object: @reward %>

  <div class="field">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, value: number_to_currency(form.object.price.to_f, unit: '$'), step: :any, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :delivery_method, class: "form-label" %>
    <%= form.collection_select :delivery_method, Reward.delivery_methods.keys, :to_s, :humanize, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label 'Available/Quantity', class: "form-label" %>
    <%= form.number_field :available, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= form.label :categories, class: "form-check-label" %>
    <%= form.collection_select(:category_id, Category.all, :id, :title) %>
  </div>

  <div>
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Create', class: "btn btn-outline-dark" %>
  </div>
<% end %>
